# OS files
.DS_Store
Thumbs.db
db.sqlite3

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# MkDocs build directory
site/

# Virtual environments
.venv/

